@primary-color: hsla({{hue}},{{sat}}%,  {{bright}}%, 1.0);
@tabbar-color: hsla({{hue}},{{sat}}%,  {{bright}}%, 1.0);
body, .e-tab-active {
	background: saturation(lightness(@primary-color, -30%), -80%);
}
.toolbar {
	width: 100%;
	height: 32px;
	padding: 3px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, .5);
}
.description {
	padding: 5px;
}
body {
	/*background:hsla({{hue}}, 90%, 0%, .08);*/

	color: #dddddd;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	margin: 0px;
}
a {
	text-decoration: none;
	color: white;
}
.description {
	color: rgba(255, 255, 255, .4);
}
.e-tabbar {
	margin: 0px;
}
.e-tabbar li {
	display: block;
	float: left;
	list-style: none;
	height: 23px;
	border-radius: 2px 2px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;

}
.e-tabbar .e-tab-active {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
	/*background: hsla({{hue}}, 70%, 55% , 1.0);*/
}
.e-tabbar ul {
	margin: 0px;
}

* {
	cursor: default;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	font-size: 11px;
	font-family: "Tahoma";
}
a {
	cursor: pointer;
}
.btn {
	display: block;
	background: lightness(@primary-color, -20%);
	width: auto;
	padding: 20px;
	border-radius: 3px;
	border:none;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: none;
	color: white;
}
.flow li {
	float :left;
	list-style: none;
}
img {
	border: none;
}
.shadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
article {
	width: 60%;
	background: #FFFFEE;
	min-height: 640px;
	padding: 50px;
}
.divider {
	background: rgba(255, 255, 255, .25);
	color: white;
	
	width: 100%;
	
	padding: 5px;
}

html, body {
	margin: 0px;
	-webkit-user-select: none;
}
* {

	box-sizing: border-box;
}
section {
	display: none;
	position: relative;
	top: 28px;
}
.table {
	border-radius: 4px;
	border-collapse: collapse;
}
.table tr:nth-child(2n) {
	background: rgba(0, 0, 0, .25);
}
.table tr td {
	padding: 3px;
}
td.value {
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}
nav {
	display: block;
	width: 100%;
}
.e-tabbar {
	position: fixed;
	top: 0px;
	/*background-color: lightness(saturation(@tabbar-color, -35%), 61%);*/
	background-color: lightness(@tabbar-color, -15%);
	color: white;

	height: 23px;
	width: 100%;
}
.e-tabbar .e-tab {
	text-shadow: 0px 1px 0px black;
	border-right: 1px solid lightness(@tabbar-color, -22%);
	border-left: 1px solid lightness(@tabbar-color, -22%);
	height: 23px;
	
}
.e-tabbar .e-tab-active {
	color: white !important;
	height: 23px;
}

article {
	background: #ffffee;
	color: black;
	font-size: 15px;
	font-family: "Helvetica";
	padding: 20px;
}