@import url('entify://resources/css/spotify.button.css');
@primary-color: #373737;
@tabbar-color: #373737;
body, .e-tab-active {

	background: #373737;
}
.toolbar, toolbar {
	width: 100%;
	height: 32px;
	padding: 3px;
	border-radius: 8px;
	background-color: #202020;
	border-top: 1px solid black;
	border-bottom: 1px solid #444;
}
.description {
	padding-left: 5px;
}
body {

	color: #7b7b7b;
	text-shadow: 0px -1px 0px #353535;
	margin: 0px;
}

a {
	text-decoration: none;
	color: white;
}
.description {
	color: rgba(255, 255, 255, .4);
}
.e-tabbar {
	margin: 0px;
}
.e-tabbar li {
	display: block;
	float: left;
	list-style: none;
	height: 23px;
	border-radius: 2px 2px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;

}
.e-tabbar .e-tab-active {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
	/*background: hsla({{hue}}, 70%, 55% , 1.0);*/
}
.e-tabbar ul {
	margin: 0px;
}

body {
	cursor: default;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	font-size: 11px;
	font-family: "Tahoma";
}
a {
	cursor: pointer;
}

.flow li {
	float :left;
	list-style: none;
}
img {
	border: none;
}
.shadow {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.divider {
	background: #616161;
	color: white;
	
	width: 100%;
	
	padding: 5px;
}

html, body {
	margin: 0px;
	-webkit-user-select: none;
}
* {

	box-sizing: border-box;
}
* {
	cursor: default;
}
section {
	display: none;
	position: relative;
	top: 28px;
}
.table {
	border-radius: 4px;
	border-collapse: collapse;
}
tr {
	-webkit-selection: auto;
}
*::-webkit-selection {
	background: #aed9fc;
	color: #031b35;
	text-shadow: none;
}
.grid tr:nth-child(2n+1) {
	background: #313131;
}
.table tr td {
	padding: 3px;
}
td.value {
}

.container {
	padding-left: 10%;
	padding-right: 10%;
}
nav {
	display: block;
	width: 100%;
}
.e-tabbar {
	position: fixed;
	top: 0px;
	
	background-color: #636363;
	color: white;

	height: 23px;
	width: 100%;

}
.e-tabbar .e-tab {
	text-shadow: 0px 1px 0px black;
	border-right: 1px solid #4a4a4a;
	border-left: 1px solid #747474;
	height: 23px;

	cursor: default;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
	font-size: 11px;
	font-family: "Tahoma";

	
}
.e-tabbar .e-tab-active {
	color: white !important;
	height: 23px;
}



.description {
	padding-top :0px;
}
article {
	background: #ffffee;
	color: black;
	font-size: 15px;
	font-family: "Helvetica";
	padding: 20px;

	text-shadow: none;
}
